# One Hot Encoding
TJ Kim 10-15-19

Goal: Perform one-hot encoding on 'adult.csv' that holds a lot of personal and private information. The major goal is to end up with a pandas dataset with data that is easy to use for machine learning

In [1]:
import re
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split

# Import Dataset
filename = "adult.csv"
df = pd.read_csv(filename, sep='\s*,\s*',engine = 'python')

# Drop unused rows
df = df.drop(['education','relationship','fnlwgt'],axis=1)
df

,age,Workclass,education-num,marital-status,occupation,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,13,Never-married,Adm-clerical,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,White,Male,0,0,13,United-States,<=50K
2,38,Private,9,Divorced,Handlers-cleaners,White,Male,0,0,40,United-States,<=50K
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Black,Male,0,0,40,United-States,<=50K
4,28,Private,13,Married-civ-spouse,Prof-specialty,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,14,Married-civ-spouse,Exec-managerial,White,Female,0,0,40,United-States,<=50K
6,49,Private,5,Married-spouse-absent,Other-service,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,9,Married-civ-spouse,Exec-managerial,White,Male,0,0,45,United-States,>50K
8,31,Private,14,Never-married,Prof-specialty,White,Female,14084,0,50,United-States,>50K
9,42,Private,13,Married-civ-spouse,Exec-managerial,White,Male,5178,0,40,United-States,>50K
10,37,Private,10,Married-civ-spouse,Exec-managerial,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,13,Married-civ-spouse,Prof-specialty,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,13,Never-married,Adm-clerical,White,Female,0,0,30,United-States,<=50K
13,32,Private,12,Never-married,Sales,Black,Male,0,0,50,United-States,<=50K
14,40,Private,11,Married-civ-spouse,Craft-repair,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,4,Married-civ-spouse,Transport-moving,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,9,Never-married,Farming-fishing,White,Male,0,0,35,United-States,<=50K
17,32,Private,9,Never-married,Machine-op-inspct,White,Male,0,0,40,United-States,<=50K
18,38,Private,7,Married-civ-spouse,Sales,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,14,Divorced,Exec-managerial,White,Female,0,0,45,United-States,>50K
20,40,Private,16,Married-civ-spouse,Prof-specialty,White,Male,0,0,60,United-States,>50K
21,54,Private,9,Separated,Other-service,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,5,Married-civ-spouse,Farming-fishing,Black,Male,0,0,40,United-States,<=50K
23,43,Private,7,Married-civ-spouse,Transport-moving,White,Male,0,2042,40,United-States,<=50K
24,59,Private,9,Divorced,Tech-support,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,13,Married-civ-spouse,Tech-support,White,Male,0,0,40,United-States,>50K
26,19,Private,9,Never-married,Craft-repair,White,Male,0,0,40,United-States,<=50K
27,54,?,10,Married-civ-spouse,?,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,9,Divorced,Exec-managerial,White,Male,0,0,80,United-States,<=50K
29,49,Private,9,Married-civ-spouse,Craft-repair,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
48812,81,?,11,Married-civ-spouse,?,White,Male,2936,0,20,United-States,<=50K
48813,60,Private,11,Married-civ-spouse,Prof-specialty,White,Male,7688,0,40,United-States,>50K
48814,39,Private,13,Never-married,Tech-support,White,Female,0,1669,40,United-States,<=50K
48815,38,Private,14,Married-civ-spouse,Prof-specialty,White,Male,0,0,50,United-States,>50K
48816,43,Local-gov,14,Married-civ-spouse,Exec-managerial,White,Male,0,1902,50,United-States,>50K
48817,23,Private,9,Never-married,Machine-op-inspct,White,Male,0,0,40,United-States,<=50K
48818,73,Self-emp-inc,10,Divorced,Exec-managerial,White,Female,0,0,40,United-States,<=50K
48819,35,Private,10,Married-civ-spouse,Protective-serv,White,Male,0,0,40,United-States,<=50K
48820,66,Private,9,Widowed,Sales,White,Female,0,0,8,United-States,<=50K
48821,27,Private,10,Never-married,Sales,White,Female,0,0,45,United-States,<=50K
48822,40,Private,15,Married-civ-spouse,Prof-specialty,White,Male,15024,0,55,United-States,>50K
48823,51,Private,9,Married-civ-spouse,Craft-repair,White,Male,0,0,40,United-States,<=50K
48824,22,Private,10,Never-married,Craft-repair,White,Male,0,0,40,United-States,<=50K
48825,64,Self-emp-not-inc,9,Widowed,Farming-fishing,White,Male,0,0,32,United-States,<=50K
48826,50,Local-gov,14,Married-civ-spouse,Prof-specialty,White,Female,0,0,40,?,>50K
48827,55,Private,9,Separated,Priv-house-serv,White,Female,0,0,32,United-States,<=50K
48828,38,Private,11,Never-married,Adm-clerical,Black,Female,0,0,40,United-States,<=50K
48829,58,Private,12,Divorced,Prof-specialty,White,Male,0,0,36,United-States,<=50K
48830,32,Private,9,Married-civ-spouse,Handlers-cleaners,White,Male,0,0,40,United-States,<=50K
48831,48,Private,9,Married-civ-spouse,Adm-clerical,White,Male,0,0,40,United-States,<=50K
48832,61,Private,9,Married-civ-spouse,Sales,White,Male,0,0,48,United-States,<=50K
48833,31,Private,9,Married-civ-spouse,Craft-repair,White,Male,0,0,40,United-States,<=50K
48834,25,Private,9,Never-married,Other-service,White,Female,0,0,40,United-States,<=50K
48835,48,Local-gov,14,Divorced,Other-service,White,Male,0,0,40,United-States,<=50K
48836,33,Private,13,Never-married,Prof-specialty,White,Male,0,0,40,United-States,<=50K
48837,39,Private,13,Divorced,Prof-specialty,White,Female,0,0,36,United-States,<=50K
48838,64,?,9,Widowed,?,Black,Male,0,0,40,United-States,<=50K
48839,38,Private,13,Married-civ-spouse,Prof-specialty,White,Male,0,0,50,United-States,<=50K
48840,44,Private,13,Divorced,Adm-clerical,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
48841,35,Self-emp-inc,13,Married-civ-spouse,Exec-managerial,White,Male,0,0,60,United-States,>50K

## Perform OHE without "other" category

We process the data here to be usable with machine learning.

### Work Class Section One Hot Encoding

First we tackle workclass section and get rid of categories that are ultra-rare.

In [2]:
# Make workclass OHE
df['Workclass'] = pd.Categorical(df['Workclass'])
df_WC_Dummies = pd.get_dummies(df['Workclass'], prefix = 'Cls_Cat')

# Find the number of instances of each pandas category
df_WC_Dummies.sum(axis = 0, skipna = True)

Cls_Cat_?                    2799
Cls_Cat_Federal-gov          1432
Cls_Cat_Local-gov            3136
Cls_Cat_Never-worked           10
Cls_Cat_Private             33906
Cls_Cat_Self-emp-inc         1695
Cls_Cat_Self-emp-not-inc     3862
Cls_Cat_State-gov            1981
Cls_Cat_Without-pay            21
dtype: int64

We will combine the "Never worked" and "without pay" category into the "?" mark category.

In [3]:
df['Workclass'] = pd.Categorical(df['Workclass'])
df_WC_Dummies = pd.get_dummies(df['Workclass'], prefix = 'Cls_Cat')

# Get rid of category without pay
df_WC_Dummies.loc[df_WC_Dummies['Cls_Cat_Without-pay'] == 1, "Cls_Cat_?"] = 1
df_WC_Dummies.loc[df_WC_Dummies['Cls_Cat_Without-pay'] == 1, "Cls_Cat_Without-pay"] = 0

# Get rid of category never worked
df_WC_Dummies.loc[df_WC_Dummies['Cls_Cat_Never-worked'] == 1, "Cls_Cat_?"] = 1
df_WC_Dummies.loc[df_WC_Dummies['Cls_Cat_Never-worked'] == 1, "Cls_Cat_Never-worked"] = 0

# Get rid of old unused pandas column
df_WC_Dummies = df_WC_Dummies.drop(columns = ['Cls_Cat_Never-worked','Cls_Cat_Without-pay'])
df_WC_Dummies.sum(axis = 0, skipna = True) 

# Place one-hot encoded columns into datafram
df = df.drop(columns = ['Workclass'])
df = pd.concat([df, df_WC_Dummies], axis=1)

### Martial Status One Hot Encoding

Next We will obtain one hot encoding for the section "Martial Status"

In [4]:
# Make one hot encoding of martial status
df['marital-status'] = pd.Categorical(df['marital-status'])
df_martial_D = pd.get_dummies(df['marital-status'], prefix = 'Martial_Cat')

# Find the number of instances of each pandas category
df_martial_D.sum(axis = 0, skipna = True)

Martial_Cat_Divorced                  6633
Martial_Cat_Married-AF-spouse           37
Martial_Cat_Married-civ-spouse       22379
Martial_Cat_Married-spouse-absent      628
Martial_Cat_Never-married            16117
Martial_Cat_Separated                 1530
Martial_Cat_Widowed                   1518
dtype: int64

Because we do not know what married-af-spouse even means, we will collapse that with married-civ-spouse. This will help us deal with a very rare outlier.

In [5]:
# Get rid of category without pay
df_martial_D.loc[df_martial_D['Martial_Cat_Married-AF-spouse'] == 1, "Martial_Cat_Married-civ-spouse"] = 1
df_martial_D.loc[df_martial_D['Martial_Cat_Married-AF-spouse'] == 1, "Martial_Cat_Married-AF-spouse"] = 0

# Get rid of old unused pandas column
df_martial_D = df_martial_D.drop(columns = ['Martial_Cat_Married-AF-spouse'])
df_martial_D.sum(axis = 0, skipna = True)

Martial_Cat_Divorced                  6633
Martial_Cat_Married-civ-spouse       22416
Martial_Cat_Married-spouse-absent      628
Martial_Cat_Never-married            16117
Martial_Cat_Separated                 1530
Martial_Cat_Widowed                   1518
dtype: int64

In [6]:
# Place one-hot encoded columns into datafram
df = df.drop(columns = ['marital-status'])
df = pd.concat([df, df_martial_D], axis=1)

### Native Country One Hot Encoding

In [7]:
# Make one hot encoding of country status
df['native-country'] = pd.Categorical(df['native-country'])
df_country_D = pd.get_dummies(df['native-country'], prefix = 'USA_Cat')

# Find the number of instances of each pandas category
df_country_D.sum(axis = 0, skipna = True)

USA_Cat_?                               857
USA_Cat_Cambodia                         28
USA_Cat_Canada                          182
USA_Cat_China                           122
USA_Cat_Columbia                         85
USA_Cat_Cuba                            138
USA_Cat_Dominican-Republic              103
USA_Cat_Ecuador                          45
USA_Cat_El-Salvador                     155
USA_Cat_England                         127
USA_Cat_France                           38
USA_Cat_Germany                         206
USA_Cat_Greece                           49
USA_Cat_Guatemala                        88
USA_Cat_Haiti                            75
USA_Cat_Holand-Netherlands                1
USA_Cat_Honduras                         20
USA_Cat_Hong                             30
USA_Cat_Hungary                          19
USA_Cat_India                           151
USA_Cat_Iran                             59
USA_Cat_Ireland                          37
USA_Cat_Italy                           105
USA_Cat_Jamaica                         106
USA_Cat_Japan                            92
USA_Cat_Laos                             23
USA_Cat_Mexico                          951
USA_Cat_Nicaragua                        49
USA_Cat_Outlying-US(Guam-USVI-etc)       23
USA_Cat_Peru                             46
USA_Cat_Philippines                     295
USA_Cat_Poland                           87
USA_Cat_Portugal                         67
USA_Cat_Puerto-Rico                     184
USA_Cat_Scotland                         21
USA_Cat_South                           115
USA_Cat_Taiwan                           65
USA_Cat_Thailand                         30
USA_Cat_Trinadad&Tobago                  27
USA_Cat_United-States                 43832
USA_Cat_Vietnam                          86
USA_Cat_Yugoslavia                       23
dtype: int64

Observing this data, we see that the overwhelming majority of people are from the United States. Moreover, the number of categories in this class are very large. To Prevent overfitting, we will reduce this entire category into one column; whether or not a person is based in the United States or not. Overfitting may occur because if there are too many parameters, we will need more data points to build a stable model.

In [8]:
# Loop through pandas dataframe and obtain binary whether person is US native or not
is_US = []
for index, row in df.iterrows():
    if row['native-country'] == 'United-States':
        is_US += [1]
    else:
        is_US += [0]

df['native_US'] = is_US

# Remove native country column as data is redundant now
df = df.drop(['native-country'],axis=1)

### Occupation One Hot Encoding

In [9]:
# Make one hot encoding of occupation status
df['occupation'] = pd.Categorical(df['occupation'])
df_job_D = pd.get_dummies(df['occupation'], prefix = 'Job_Cat')

# Find the number of instances of each pandas category
df_job_D.sum(axis = 0, skipna = True)

Job_Cat_?                    2809
Job_Cat_Adm-clerical         5611
Job_Cat_Armed-Forces           15
Job_Cat_Craft-repair         6112
Job_Cat_Exec-managerial      6086
Job_Cat_Farming-fishing      1490
Job_Cat_Handlers-cleaners    2072
Job_Cat_Machine-op-inspct    3022
Job_Cat_Other-service        4923
Job_Cat_Priv-house-serv       242
Job_Cat_Prof-specialty       6172
Job_Cat_Protective-serv       983
Job_Cat_Sales                5504
Job_Cat_Tech-support         1446
Job_Cat_Transport-moving     2355
dtype: int64

Most of the jobs seem pretty evenly distributed, and there seem to be no outliers with the exception of armed forces jobs. We will simply place the armed-forces job in the category "?".

In [10]:
# Get rid of category without pay
df_job_D.loc[df_job_D['Job_Cat_Armed-Forces'] == 1, "Job_Cat_?"] = 1
df_job_D.loc[df_job_D['Job_Cat_Armed-Forces'] == 1, "Job_Cat_Armed-Forces"] = 0

# Get rid of unused column
df_job_D = df_job_D.drop(columns = ['Job_Cat_Armed-Forces'])

# Add Column to dataframe
# Place one-hot encoded columns into datafram
df = df.drop(columns = ['occupation'])
df = pd.concat([df, df_job_D], axis=1)

### Race One Hot Encoding

In [11]:
# Make one hot encoding of occupation status
df['race'] = pd.Categorical(df['race'])
df_race_D = pd.get_dummies(df['race'], prefix = 'Race_Cat')

# Find the number of instances of each pandas category
df_race_D.sum(axis = 0, skipna = True)

Race_Cat_Amer-Indian-Eskimo      470
Race_Cat_Asian-Pac-Islander     1519
Race_Cat_Black                  4685
Race_Cat_Other                   406
Race_Cat_White                 41762
dtype: int64

Since there are not that many categories for race, we will just keep all the categories. There seem to be no extreme outliers either. 

It may be interesting to remove the 'in_US' colunm for being a US native as the race distribution seems to suggest that the majority of the 'in US' people are white.

In [12]:
# Add Column to dataframe
# Place one-hot encoded columns into datafram
df = df.drop(columns = ['race'])
df = pd.concat([df, df_race_D], axis=1)

### Gender One Hot Encoding

Since gender is already binary, I will change the category to 'male' and make it binary.

In [13]:
# Loop through pandas dataframe and obtain binary whether person is US native or not
is_male = []
for index, row in df.iterrows():
    if row['sex'] == 'Male':
        is_male += [1]
    else:
        is_male += [0]

df['Is_Male'] = is_male

# Remove native country column as data is redundant now
df = df.drop(['sex'],axis=1)

### Income One Hot Encoding
Fix income into a binary value that tells us whether or not this individual makes more or less than 50k a year. If that person makes more, we will return 1, if not we will return 0.

In [14]:
# Loop through pandas dataframe and obtain binary whether person is US native or not
income_over_50k = []
for index, row in df.iterrows():
    if row['income'] == '<=50K':
        income_over_50k += [0]
    else:
        income_over_50k += [1]

df['income_over_50k'] = income_over_50k

# Remove native country column as data is redundant now
df = df.drop(['income'],axis=1)

In [15]:
df

,age,education-num,capital-gain,capital-loss,hours-per-week,Cls_Cat_?,Cls_Cat_Federal-gov,Cls_Cat_Local-gov,Cls_Cat_Private,Cls_Cat_Self-emp-inc,...,Job_Cat_Sales,Job_Cat_Tech-support,Job_Cat_Transport-moving,Race_Cat_Amer-Indian-Eskimo,Race_Cat_Asian-Pac-Islander,Race_Cat_Black,Race_Cat_Other,Race_Cat_White,Is_Male,income_over_50k
0,39,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1,50,13,0,0,13,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,38,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
3,53,7,0,0,40,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
4,28,13,0,0,40,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
5,37,14,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
6,49,5,0,0,16,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
7,52,9,0,0,45,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
8,31,14,14084,0,50,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,1
9,42,13,5178,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
10,37,10,0,0,80,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,1
11,30,13,0,0,40,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,1
12,23,13,0,0,30,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
13,32,12,0,0,50,0,0,0,1,0,...,1,0,0,0,0,1,0,0,1,0
14,40,11,0,0,40,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,1
15,34,4,0,0,45,0,0,0,1,0,...,0,0,1,1,0,0,0,0,1,0
16,25,9,0,0,35,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
17,32,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
18,38,7,0,0,50,0,0,0,1,0,...,1,0,0,0,0,0,0,1,1,0
19,43,14,0,0,45,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
20,40,16,0,0,60,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
21,54,9,0,0,20,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
22,35,5,0,0,40,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,0
23,43,7,0,2042,40,0,0,0,1,0,...,0,0,1,0,0,0,0,1,1,0
24,59,9,0,0,40,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
25,56,13,0,0,40,0,0,1,0,0,...,0,1,0,0,0,0,0,1,1,1
26,19,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
27,54,10,0,0,60,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,1
28,39,9,0,0,80,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
29,49,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48812,81,11,2936,0,20,1,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
48813,60,11,7688,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
48814,39,13,0,1669,40,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
48815,38,14,0,0,50,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
48816,43,14,0,1902,50,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,1
48817,23,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
48818,73,10,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
48819,35,10,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
48820,66,9,0,0,8,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
48821,27,10,0,0,45,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
48822,40,15,15024,0,55,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,1
48823,51,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
48824,22,10,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
48825,64,9,0,0,32,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
48826,50,14,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,1
48827,55,9,0,0,32,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48828,38,11,0,0,40,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
48829,58,12,0,0,36,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
48830,32,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
48831,48,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
48832,61,9,0,0,48,0,0,0,1,0,...,1,0,0,0,0,0,0,1,1,0
48833,31,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
48834,25,9,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48835,48,14,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
48836,33,13,0,0,40,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
48837,39,13,0,0,36,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
48838,64,9,0,0,40,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
48839,38,13,0,0,50,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
48840,44,13,5455,0,40,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0
48841,35,13,0,0,60,0,0,0,0,1,...,0,0,0,0,0,0,0,1,1,1

## Save Pandas dataframe as CSV

Save 'df' as new csv.

In [16]:
df.to_csv('adult_encoded.csv')

In [ ]:
df.shape